
*{
    background-image:url("https://img.freepik.com/free-photo/brick-wall-painted-white_1194-7526.jpg?w=2000")
}

.botão{
    border: (0);
    font: size 1.2em;
    font-weight:500;
    padding: 16px;
    background:rgb(155, 49, 241);
    color:black;
    margin: (20px, 0);
    cursor: pointer;
    transition:all(0.5s, ease-in-out);
}



body{
    display:flex;
    align-items:center;
    justify-content:center;
    font-family:'Quicksand', sans-serif;
    height:100vh;
    margin:0;
    background-color: #fff;
}

img{
    max-width:600px;
    border-radius:30px;

}

main{
    text-align:center;
}



button{
    background: #192a56;
    border: 0;
    border-radius:4px;
    color: #fff;
    font-size: 18px;
    padding: 10px;
    margin: 10px;
    width: 300px;
}

.results {
    display: flex;
    
    justify-content: center ;
    align-items: center;
    
}

.result {
    background: #8290b4;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    height:400px;
    width:300px;
}
